/*regola di reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.maintitle {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.maintitle__title{
    max-width: 900px;

}

.maintitle__text{
    max-width: 900px;
    
}

.container {
    max-width: 900px;
    margin: 0 auto;

}

.col{
    float: left;
    width: calc(100% / 3);

}

.card {
    float: left;
    background-color: black;
    color: white;
    margin: 20px 10px;

    
}


.clearfix ::after {
    content: "";
    clear: both;
    display: table;
}


.card__image{
    float: left;
    width: 70px;
    height: 60px;
}

.card__name{
    display: inline-block;

}

.card__job{
    display: inline-block;
   

}

.card__mail{
    display: inline-block;

}