/*regola di reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    width: 90px;
    height: 90px;
}

header {
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;

}

.card {
    float: left;
    width: calc(100% / 3);
}


.clearfix ::after {
    content: "";
    clear: both;
    display: table;
}

